<table class="table" border="10" align="center" width="50%" >
    <thead>
        <tr>
            <th>成員名單</th>
            <th>所在位置</th>
            <th>註解</th>
            <th>修改</th>
        </tr>
    </thead>
    <tbody>
        {% for x in user_test %}
            {% if x.is_state == 'SEC404' %}
                <tr>
                    <td style="text-align: center"><span style="color: red;">{{ x.user_name }}</span></td>
                    <td>{{ x.is_state }}</td>
                </tr>
            {% endif %}
        {% endfor %}


    </tbody>

</table>

</table>